* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #6c6c6f;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}

h3 {
    margin: 20px 0 0;
    text-align: center;
}

img {
    display: block;
    width: auto;
    height: 200px;
}

section {
    margin: 0 auto;
    max-width: 1024px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid black;
}

td {
    padding: 5px 10px;
}

td.centered {
    text-align: center;
}

li {
    margin: 0 20px 0;
}

ul {
    margin: 0 5px 0;
    padding: 0;
}